<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Lestvica najboljših</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/stili.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container text-center">
      <h3>Lestvica najboljših igralcev</h3>
      <table class="table table-condensed">
        <tr>
          <th class="text-center">Rezultat</th>
          <th class="text-center">Vzdevek</th>
          <th class="text-center">Število vprašanj</th>
          <th class="text-right">Čas reševanja</th>
        </tr>
        <%
          lestvica.sort(function (a, b) {
            if (a.rezultat < b.rezultat) {
              return b.rezultat;
            } else if (a.rezultat > b.rezultat) {
              return a.rezultat;
            }
            if (a.stVprasanj < b.stVprasanj) {
              return b.stVprasanj;
            } else if (a.stVprasanj > b.stVprasanj) {
              return a.stVprasanj;
            }
            if (a.cas > b.cas) {
              return b.cas;
            } else if (a.cas < b.cas) {
              return a.cas;
            }
            return 0;
          });
          
      %>
       
    <%   for (var i = 0; i < lestvica.length; i++) {   %>
      
    <tr>
      <td><%= lestvica[i].rezultat %></td>
      <td><%= lestvica[i].vzdevek %></td>
      <td><%= lestvica[i].stVprasanj %></td>
      <td><%= lestvica[i].cas %></td>
    </tr>    
   <% } %>
    
        %> 
      </table>
    </div>
  </body>
</html>
